sample/** linguist-detectable
sample/** -linguist-documentation
sample/**/*.xml -linguist-detectable
sample/**/*.plist -linguist-detectable
*.json linguist-detectable=false
*.kts linguist-language=Kotlin